
.items-top li a{
	color: red;
}
#nav1 {
	background-color: transparent;
	padding-top: 0px; 
	padding-bottom: 0px;
	height: 75px;
}
#nav1 ul li a {
	color: white;
	opacity: 0.7;
}
#nav1 ul li .dropdown button{
	opacity: 0.7;
	margin-right: 10px;
	margin-top: 5px; 
	background-color: transparent;
	border-color: transparent;
}
#nav1 ul li .dropdown .dropdown-item {
	color: black;
}
#nav1 ul li:last-child button {
	color: red;
	background-color: white;
}
#navbarNav {
	background-color: transparent;
	margin-top: -8px;
}
#navbarNav ul {
	margin-top: -10px;
	margin-right: -8px; 
	
}
#navbarNav ul li a{
	color: white;
}

/*gradient*/
.gradient {
	background-image: linear-gradient(#EF4D29, #F69305);
	background-repeat: no-repeat;
	height: 525px;
}
/*Main navigation second string of navigation*/
#mainnavigation {
	position: fixed;
	top: 60px;
	left: 105px;
	z-index: 2;
}

.navbar-toggler {
	border: none;
}

/* responsive */

/*first navigation*/

@media (max-width: 488px) {
	#nav1-text {
		visibility: hidden;
	}
	/* enter button*/
	#nav1 ul li:last-child button {
	    visibility: visible;
    }
}
 /* enter button*/
@media (max-width: 477px) {
	#nav1 ul li:last-child button {
	    margin-top: -200px;
    }
}

/*main navigation*/
@media (max-width: 765px) {
	#mainnavigation {
		top: 120px;
	}
}
@media (max-width: 473px) {
	#mainnavigation {
		top: 80px;
		left: 355px;
		
	}
	/* navbar items div */
	.navbar-nav.items-top {
		width: 200px;
		margin-left: -150px;
	}
	.navbar-toggler {
		padding-bottom: 15px;
		margin-left: 48px;
	}
	/*projects text*/
}
@media (max-width: 670px) {
	#mainnavigation {
		right: 150px;
		margin-left: -70px;
	}
}

@media (max-width: 767px) {
	.projects {
		padding-top: 150px;
	}
}
/*News text*/

.news {
	color: white;
	margin-top: 100px;
	margin-left: 110px;
}

.news span {
	opacity: 0.7;
}



/* Owl Carousel Custom Styles  */

.owl-carousel .item {
  background: #fff;
  border-radius: 5px;
  height: 285px;
  width: 208px;
  padding: 20px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.owl-carousel .owl-stage-outer {
    padding: 10px;
	
}
#owl-carousel1 .owl-stage-outer {
	margin-left: 30px;
}

#owl-carousel1 {
	margin-top: 35px;	
}
.owl-carousel .dark-theme {
	background-color: gray;
	padding-top: 40%;
}
.owl-carousel .item .item-location {
	color: white;
	font-size: 0.7em;
	background-image: linear-gradient(to right, #EF4D29, #F89306);
	padding: 2px 10px 2px 10px;
}

.owl-carousel .item h6 {
	font-size: 0.7em;
	margin-top: 12px;
}

.owl-carousel .item .item-date {
	font-size: 0.7em;
	opacity: 0.5;
}

.owl-carousel .item p {
	line-height: 20px;
	font-size: 0.7em;
	margin-top: 6px;
	margin-bottom: 6px;
}

.owl-carousel .item .item-source {
	font-size: 0.7em;
	opacity: 0.5;
}

/* Projects text */
.projects {
	color: black;
	margin-top: 100px;
}
.projects p {
	opacity: 0.7;
}
.projects span {
	color: orange;
	opacity: 0.7;
}
#col li {
	display: block;
	float: left;
	width: 45%;

}
#col {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0.8em;
}

/*Second slider*/

#owl-carousel-2 {
	margin-top: 35px;
	margin-left: -8px;
}

#owl-carousel-2 .item-2 img {
	border-radius: 4px;
	height: 150px;
    width: 213px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#owl-carousel-2 .item-2 h6 {
	font-size: 0.7em;
	margin-top: 12px;
	font-weight: bold;
}
#owl-carousel-2 .item-2 ul {
	font-size: 0.7em;
}
#owl-carousel-2 .item-2 ul li:nth-child(2n+1) {
	opacity: 0.7;
}

/*Banner with video*/

.banner {
	border-radius: 10px;
	background-color: #282828;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner p {
	opacity: 0.7;
}
.banner span {
	color: orange;
	opacity: 0.7;
}
.banner .banner-text {
	padding: 60px;
}
.banner .banner-video {
	padding: 28px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Articles */

.left-side {
	background-color: #F7F7F7;
}
.right-side img{
	border-radius: 50%;
}
.double-content {
	margin-top: 50px;
	        box-shadow: 0px 100px 100px -100px black;
}
.content-small-text {
	font-size: 0.8em;
}
.content-medium-text {
	font-size: 1em;
}
.left-side .row,
.right-side .row {
	margin-top: 50px;
	padding-bottom: 50px;
}
.left-side>span,
.right-side>span {
	
}
.article-more {
	font-size: 0.8em;
	color: orange;
	opacity: 0.7;
	float: right;
}

/*Footer form*/

.footer {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
} 
.footer p {
	font-size: 0.8em;
	opacity: 0.7;
}
.form-inline {
	margin-top: 30px;
}
.form-inline button {
	background-color: orange; 
	border: none;
	margin-bottom: 8px;
}

/* Footer navigation*/
.footer-nav li a {
	font-size: 0.8em;
	opacity: 0.7;
	color: black;
}

/*rights reserved text*/
.allrightsreserverd {
	text-align: center;
	font-size: 0.8em;
	opacity: 0.7;
}